<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<rewrite>
	<rules>
		
<rule name="portal_article2">
 <match url="^index.html$" />
 <action type="Rewrite" url="index.php" />  
</rule>
<rule name="portal_article3">
 <match url="^suanming/scbz/?$" />
 <action type="Rewrite" url="index.php\?ct=suanming&amp;ac=sm_form&amp;base=365" />
</rule>
<rule name="portal_article4">
 <match url="^suanming/cglm/?$" />
 <action type="Rewrite" url="index.php\?ct=suanming&amp;ac=sm_form&amp;base=367" />
</rule>
<rule name="portal_article5">

 <match url="^suanming/rglm/?$" />
 <action type="Rewrite" url="index.php\?ct=suanming&amp;ac=sm_form&amp;base=366" />
</rule>
<rule name="portal_article6">
 <match url="^suanming/sscy/?$" />
 <action type="Rewrite" url="index.php\?ct=suanming&amp;ac=sm_form&amp;base=368" />
</rule>
<rule name="portal_article7">
 <match url="^suanming/bzcs/?$" />
 <action type="Rewrite" url="index.php\?ct=suanming&amp;ac=sm_form&amp;base=369" />
</rule>
<rule name="portal_article8">
 <match url="^suanming/fscs/?$" />
 <action type="Rewrite" url="index.php\?ct=suanming&amp;ac=fscs&amp;tid=370" />
</rule>
<rule name="portal_article9">
 <match url="^suanming/clear/?$" />
 <action type="Rewrite" url="index.php\?ct=suanming&amp;ac=clearcache" />
</rule>
<rule name="portal_article10">
 <match url="^xingming/xmfx/(.*)/$" />
 <action type="Rewrite" url="index.php\?ct=xingming&amp;ac=xmfx&amp;name={R:1}" />
</rule>
<rule name="portal_article2220">
 <match url="^xingming/xmfx/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=xingming&amp;ac=xmfx&amp;name={R:1}" />
</rule>
<rule name="portal_article11">
 <match url="^xingming/xmfx/?$" />
 <action type="Rewrite" url="index.php\?ct=xingming&amp;ac=xmfx" />
</rule>


<rule name="portal_article12">
 <match url="^xingming/qiming/list-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).html$" />
 <action type="Rewrite" url="index.php\?ct=xingming&amp;ac=qiming&amp;xid={R:1}&amp;sex={R:2}&amp;hs={R:3}&amp;page={R:4}" />
</rule>
<rule name="portal_article13">
 <match url="^xingming/qiming/list-([0-9]+).html$" />
 <action type="Rewrite" url="index.php\?ct=xingming&amp;ac=qiming&amp;xid={R:1}" />
</rule>
<rule name="portal_article14">
 <match url="^xingming/qiming/?$" />
 <action type="Rewrite" url="index.php\?ct=xingming&amp;ac=qiming" />
</rule>
<rule name="portal_article15">

 <match url="^xingming/gsqm/?$" />
 <action type="Rewrite" url="index.php\?ct=xingming&amp;ac=gsqm" />
</rule>
<rule name="portal_article16">

 <match url="^xingming/gsqm/(.*)/$" />
 <action type="Rewrite" url="index.php\?ct=xingming&amp;ac=gsqm&amp;name={R:1}" />
</rule>
<rule name="portal_article17">
 <match url="^xingming/xmpd/?$" />
 <action type="Rewrite" url="index.php\?ct=xingming&amp;ac=xmpd" />
</rule>
<rule name="portal_article18">
 <match url="^xingming/dzqiming/?$" />
 <action type="Rewrite" url="index.php\?ct=xingming&amp;ac=dzqm" />
</rule>

<rule name="portal_article19">
 <match url="^paipan/bazi/?$" />
 <action type="Rewrite" url="index.php\?ct=paipan&amp;ac=bazi" />
</rule>
<rule name="portal_article20">
 <match url="^paipan/ziwei/?$" />
 <action type="Rewrite" url="index.php\?ct=paipan&amp;ac=ziwei" />
</rule>

<rule name="portal_article21">
 <match url="^paipan/liuren/?$" />
 <action type="Rewrite" url="index.php\?ct=paipan&amp;ac=liuren" />
</rule>
<rule name="portal_article22">
 <match url="^paipan/xuankongfeixing/?$" />
 <action type="Rewrite" url="index.php\?ct=paipan&amp;ac=xuankongfeixing" />
</rule>
<rule name="portal_article23">
 <match url="^paipan/qimendunjia/?$" />
 <action type="Rewrite" url="index.php\?ct=paipan&amp;ac=qimendunjia" />
</rule>
<rule name="portal_article24">
 <match url="^paipan/liuyao/?$" />
 <action type="Rewrite" url="index.php\?ct=paipan&amp;ac=liuyao" />
</rule>
<rule name="portal_article25">
 <match url="^paipan/xingpan/?$" />
 <action type="Rewrite" url="index.php\?ct=paipan&amp;ac=xingpan" />
</rule>

<rule name="portal_article26">
 <match url="^peidui/hehun/?$" />
 <action type="Rewrite" url="index.php\?ct=peidui&amp;ac=hehun" />
</rule>
<rule name="portal_article27">
 <match url="^peidui/qq/?$" />
 <action type="Rewrite" url="index.php\?ct=peidui&amp;ac=qq" />
</rule>
<rule name="portal_article28">
 <match url="^peidui/mingzi/?$" />
 <action type="Rewrite" url="index.php\?ct=peidui&amp;ac=mingzi" />
</rule>
<rule name="portal_article29">
 <match url="^peidui/shengxiao/?$" />
 <action type="Rewrite" url="index.php\?ct=peidui&amp;ac=shengxiao" />
</rule>
<rule name="portal_article30">

 <match url="^peidui/xuexing/?$" />
 <action type="Rewrite" url="index.php\?ct=peidui&amp;ac=xuexing" />
</rule>
<rule name="portal_article31">
 <match url="^peidui/xingzuo/?$" />
 <action type="Rewrite" url="index.php\?ct=peidui&amp;ac=xingzuo" />
</rule>
<rule name="portal_article32">
 <match url="^peidui/xingzuoxuexing/?$" />
 <action type="Rewrite" url="index.php\?ct=peidui&amp;ac=xingzuoxuexing" />
</rule>
<rule name="portal_article33">
 <match url="^peidui/shengxiaoxuexing/?$" />
 <action type="Rewrite" url="index.php\?ct=peidui&amp;ac=shengxiaoxuexing" />
</rule>
<rule name="portal_article34">

 <match url="^peidui/xingzuoshengxiao/?$" />
 <action type="Rewrite" url="index.php\?ct=peidui&amp;ac=xingzuoshengxiao" />
</rule>
<rule name="portal_article35">

 <match url="^haoma/index.html$" />
 <action type="Rewrite" url="index.php\?ct=haoma&amp;ac=index" />
</rule>
<rule name="portal_article36">
 <match url="^haoma/shouji/?$" />
 <action type="Rewrite" url="index.php\?ct=haoma&amp;ac=shouji" />
</rule>
<rule name="portal_article37">
 <match url="^haoma/dianhua/?$" />
 <action type="Rewrite" url="index.php\?ct=haoma&amp;ac=dianhua" />
</rule>
<rule name="portal_article38">
 <match url="^haoma/shenfenzheng/?$" />
 <action type="Rewrite" url="index.php\?ct=haoma&amp;ac=shenfenzheng" />
</rule>
<rule name="portal_article39">

 <match url="^haoma/qq/?$" />
 <action type="Rewrite" url="index.php\?ct=haoma&amp;ac=qq" />
</rule>
<rule name="portal_article40">

 <match url="^haoma/chepai/?$" />
 <action type="Rewrite" url="index.php\?ct=haoma&amp;ac=chepai" />
</rule>
<rule name="portal_article41">

 <match url="^haoma/shengrimima/?$" />
 <action type="Rewrite" url="index.php\?ct=haoma&amp;ac=shengrimima" />
</rule>
<rule name="portal_article42">

 <match url="^haoma/shengrihua/?$" />
 <action type="Rewrite" url="index.php\?ct=haoma&amp;ac=shengrihua" />
</rule>
<rule name="portal_article43">

 <match url="^haoma/shengrishu/?$" />
 <action type="Rewrite" url="index.php\?ct=haoma&amp;ac=shengrishu" />
</rule>
<rule name="portal_article44">
 <match url="^haoma/chushengri/?$" />
 <action type="Rewrite" url="index.php\?ct=haoma&amp;ac=chushengri" />
</rule>
<rule name="portal_article45">

 <match url="^haoma/?$" />
 <action type="Rewrite" url="index.php\?ct=haoma&amp;ac=index" />
</rule>
<rule name="portal_article46">

 <match url="^hdjr/yinyangli/?$" />
 <action type="Rewrite" url="index.php\?ct=hdjr&amp;ac=yinyangli" />
</rule>
<rule name="portal_article47">

 <match url="^hdjr/lishi/([0-9]+)/?$" />
 <action type="Rewrite" url="index.php\?ct=hdjr&amp;ac=lishi&amp;id={R:1}" />
</rule>
<rule name="portal_article48">

 <match url="^hdjr/lishi/?$" />
 <action type="Rewrite" url="index.php\?ct=hdjr&amp;ac=lishi" />
</rule>
<rule name="portal_article49">

 <match url="^hdjr/zeri/?$" />
 <action type="Rewrite" url="index.php\?ct=hdjr&amp;ac=zeri" />
</rule>


<rule name="portal_article4988">
 <match url="^hdjr/([^/]*)/?$" />
 <action type="Rewrite" url="index.php\?ct=hdjr&amp;date={R:1}" />
</rule>

<rule name="portal_article50">
 <match url="^hdjr/huanglijieshi/?$" />
 <action type="Rewrite" url="index.php\?ct=hdjr&amp;ac=huanglijieshi" />
</rule>
<rule name="portal_article51">

 <match url="^hdjr/index.html$" />
 <action type="Rewrite" url="index.php\?ct=hdjr" />
</rule>
<rule name="portal_article52">
 <match url="^xingzuo/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo" />
</rule>
<rule name="portal_article53">

 <match url="^xingzuo/zhuanqu/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=zhuanqu" />
</rule>
<rule name="portal_article54">

 <match url="^xingzuo/yunshi/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=yunshi" />
</rule>
<rule name="portal_article55">

 <match url="^xingzuo/index.html$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo" />
</rule>

<rule name="portal_article56">
 <match url="^hdjr/?$" />
 <action type="Rewrite" url="index.php\?ct=hdjr" />
</rule>
<rule name="portal_article57">

 <match url="^zgjm/list-([0-9]+).html" /> 
 <action type="Rewrite" url="index.php\?ct=zgjm&amp;ac=lists&amp;tid={R:1}" />
</rule>
<rule name="portal_article58">

 <match url="^zgjm/list-([0-9]+)-([0-9]+).html" />
 <action type="Rewrite" url="index.php\?ct=zgjm&amp;ac=lists&amp;tid={R:1}&amp;page={R:2}" />
</rule>

<rule name="portal_article59">

 <match url="^zgjm/show-([0-9]+)-([0-9]+).html" /> 
 <action type="Rewrite" url="index.php\?ct=zgjm&amp;ac=show&amp;id={R:1}&amp;page={R:2}" />
</rule>
<rule name="portal_article60">

 <match url="^zgjm/show-([0-9]+).html" /> 
 <action type="Rewrite" url="index.php\?ct=zgjm&amp;ac=show&amp;id={R:1}" />
</rule>
<rule name="portal_article61">
 <match url="^zgjm/sech-(.*)-([0-9]+).html" /> 
 <action type="Rewrite" url="index.php\?ct=zgjm&amp;ac=search&amp;q={R:1}&amp;page={R:2}" />
</rule>
<rule name="portal_article62">

 <match url="^zgjm/?$" />
 <action type="Rewrite" url="index.php\?ct=zgjm" />
</rule>
<rule name="portal_article63">

 <match url="^zgjm/index.html" />
  <action type="Rewrite" url="index.php\?ct=zgjm" />
</rule>
<rule name="portal_article64">

 <match url="^left_news.js$" />
 <action type="Rewrite" url="index.php\?ct=news&amp;ac=left_news" />
</rule>
<rule name="portal_article65">

 <match url="^baike/?$" />
 <action type="Rewrite" url="index.php\?ct=news&amp;ac=index" />
</rule>
<rule name="portal_article66">

 <match url="^baike/sech-(.*)-([0-9]+).html$" />
 <action type="Rewrite" url="index.php\?ct=news&amp;ac=search&amp;q={R:1}&amp;page={R:2}" />
</rule>
<rule name="portal_article67">

 <match url="^list-([0-9]+).html$" /> 
 <action type="Rewrite" url="index.php\?ct=news&amp;ac=lists&amp;tid={R:1}" />
</rule>
<rule name="portal_article68">

 <match url="^list-([0-9]+)-([0-9]+).html" /> 
 <action type="Rewrite" url="index.php\?ct=news&amp;ac=lists&amp;tid={R:1}&amp;category={R:2}" />
</rule>
<rule name="portal_article69">
 <match url="^list-([0-9]+)-([0-9]+)-([0-9]+).html" />
  <action type="Rewrite" url="index.php\?ct=news&amp;ac=lists&amp;tid={R:1}&amp;category={R:2}&amp;page={R:3}" />
</rule>
<rule name="portal_article70">

 <match url="^show-([0-9]+)-([0-9]+).html" />
  <action type="Rewrite" url="index.php\?ct=news&amp;ac=show&amp;id={R:1}&amp;page={R:2}" />
</rule>
<rule name="portal_article71">

 <match url="^show-([0-9]+).html" />
  <action type="Rewrite" url="index.php\?ct=news&amp;ac=show&amp;id={R:1}" />
</rule>
<rule name="portal_article72">

 <match url="^minjian/?$" />
 <action type="Rewrite" url="index.php\?ct=page&amp;ac=index" />
</rule>
<rule name="portal_article73">

 <match url="^minjian/zhiwen/?$" />
 <action type="Rewrite" url="index.php\?ct=minjian&amp;ac=zhiwen&amp;tid=432" />
</rule>
<rule name="portal_article74">

 <match url="^minjian/shouxiang/?$" />
 <action type="Rewrite" url="index.php\?ct=page&amp;ac=show&amp;tid=433" />
</rule>
<rule name="portal_article75">

 <match url="^minjian/shouxiang/ganqingxian/?$" />
 <action type="Rewrite" url="index.php\?ct=page&amp;ac=show&amp;tid=455" />
</rule>
<rule name="portal_article76">

 <match url="^minjian/shouxiang/hunyinxian/?$" />
 <action type="Rewrite" url="index.php\?ct=page&amp;ac=show&amp;tid=456" />
</rule>
<rule name="portal_article77">

 <match url="^minjian/shouxiang/zhihuixian/?$" />
 <action type="Rewrite" url="index.php\?ct=page&amp;ac=show&amp;tid=457" />
</rule>
<rule name="portal_article78">

 <match url="^minjian/shouxiang/shiyexian/?$" />
 <action type="Rewrite" url="index.php\?ct=page&amp;ac=show&amp;tid=458" />
</rule>
<rule name="portal_article79">

 <match url="^minjian/shouxiang/shengmingxian/?$" />
 <action type="Rewrite" url="index.php\?ct=page&amp;ac=show&amp;tid=459" />
</rule>
<rule name="portal_article80">

 <match url="^minjian/zhixiang/?$" />
 <action type="Rewrite" url="index.php\?ct=page&amp;ac=show&amp;tid=434" />
</rule>
<rule name="portal_article81">

 <match url="^minjian/snsn/?$" />
 <action type="Rewrite" url="index.php\?ct=page&amp;ac=show&amp;tid=435" />
</rule>
<rule name="portal_article2281">

 <match url="^minjian/snsn$" />
 <action type="Rewrite" url="index.php\?ct=page&amp;ac=show&amp;tid=435" />
</rule>
<rule name="portal_article82">

 <match url="^minjian/yantiao/?$" />
 <action type="Rewrite" url="index.php\?ct=page&amp;ac=show&amp;tid=436" />
</rule>
<rule name="portal_article83">

 <match url="^minjian/dapenti/?$" />
 <action type="Rewrite" url="index.php\?ct=page&amp;ac=show&amp;tid=437" />
</rule>
<rule name="portal_article84">

 <match url="^minjian/liuyao/?$" />
 <action type="Rewrite" url="index.php\?ct=page&amp;ac=show&amp;tid=438" />
</rule>
<rule name="portal_article85">

 <match url="^page-([0-9]+).html$" />
 <action type="Rewrite" url="index.php\?ct=page&amp;ac=show&amp;tid={R:1}" />
</rule>

<rule name="portal_article86">

 <match url="^xingzuoyunshi/([0-9]+)/(.*)/$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=xingzuoyunshi&amp;tid={R:1}&amp;date={R:2}" />
</rule>
<rule name="portal_article87">
 <match url="^xingzuo/shangshengxingzuo/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=ssxz" />
</rule>
<rule name="portal_article88">

 <match url="^xingzuo/baiyang/today/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=401&amp;nid=1" />
</rule>
<rule name="portal_article89">

 <match url="^xingzuo/baiyang/tomorrow/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=401&amp;nid=2" />
</rule>
<rule name="portal_article90">

 <match url="^xingzuo/baiyang/week/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=401&amp;nid=3" />
</rule>
<rule name="portal_article91">

 <match url="^xingzuo/baiyang/month/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=401&amp;nid=4" />
</rule>
<rule name="portal_article92">

 <match url="^xingzuo/baiyang/year/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=401&amp;nid=5" />
</rule>
<rule name="portal_article93">

 <match url="^xingzuo/baiyang/love/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=401&amp;nid=6" />
</rule>
<rule name="portal_article94">

 <match url="^xingzuo/baiyang/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=show&amp;tid=401" />
</rule>
<rule name="portal_article95">

 <match url="^xingzuo/jinniu/today/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=402&amp;nid=1" />
</rule>
<rule name="portal_article96">

 <match url="^xingzuo/jinniu/tomorrow/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=402&amp;nid=2" />
</rule>
<rule name="portal_article97">

 <match url="^xingzuo/jinniu/week/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=402&amp;nid=3" />
</rule>
<rule name="portal_article98">

 <match url="^xingzuo/jinniu/month/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=402&amp;nid=4" />
</rule>
<rule name="portal_article99">

 <match url="^xingzuo/jinniu/year/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=402&amp;nid=5" />
</rule>
<rule name="portal_article100">

 <match url="^xingzuo/jinniu/love/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=402&amp;nid=6" />
</rule>
<rule name="portal_article101">

 <match url="^xingzuo/jinniu/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=show&amp;tid=402" />
</rule>
<rule name="portal_article102">

 <match url="^xingzuo/shuangzi/today/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=403&amp;nid=1" />
</rule>
<rule name="portal_article103">

 <match url="^xingzuo/shuangzi/tomorrow/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=403&amp;nid=2" />
</rule>
<rule name="portal_article104">

 <match url="^xingzuo/shuangzi/week/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=403&amp;nid=3" />
</rule>
<rule name="portal_article105">

 <match url="^xingzuo/shuangzi/month/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=403&amp;nid=4" />
</rule>
<rule name="portal_article106">

 <match url="^xingzuo/shuangzi/year/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=403&amp;nid=5" />
</rule>
<rule name="portal_article107">

 <match url="^xingzuo/shuangzi/love/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=403&amp;nid=6" />
</rule>
<rule name="portal_article108">

 <match url="^xingzuo/shuangzi/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=show&amp;tid=403" />
</rule>
<rule name="portal_article109">

 <match url="^xingzuo/juxie/today/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=404&amp;nid=1" />
</rule>
<rule name="portal_article110">

 <match url="^xingzuo/juxie/tomorrow/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=404&amp;nid=2" />
</rule>
<rule name="portal_article111">

 <match url="^xingzuo/juxie/week/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=404&amp;nid=3" />
</rule>
<rule name="portal_article112">

 <match url="^xingzuo/juxie/month/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=404&amp;nid=4" />
</rule>
<rule name="portal_article113">

 <match url="^xingzuo/juxie/year/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=404&amp;nid=5" />
</rule>
<rule name="portal_article114">

 <match url="^xingzuo/juxie/love/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=404&amp;nid=6" />
</rule>
<rule name="portal_article115">

 <match url="^xingzuo/juxie/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=show&amp;tid=404" />
</rule>
<rule name="portal_article116">

 <match url="^xingzuo/shizi/today/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=405&amp;nid=1" />
</rule>
<rule name="portal_article117">

 <match url="^xingzuo/shizi/tomorrow/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=405&amp;nid=2" />
</rule>
<rule name="portal_article118">

 <match url="^xingzuo/shizi/week/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=405&amp;nid=3" />
</rule>
<rule name="portal_article119">

 <match url="^xingzuo/shizi/month/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=405&amp;nid=4" />
</rule>
<rule name="portal_article120">

 <match url="^xingzuo/shizi/year/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=405&amp;nid=5" />
</rule>
<rule name="portal_article121">

 <match url="^xingzuo/shizi/love/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=405&amp;nid=6" />
</rule>
<rule name="portal_article122">

 <match url="^xingzuo/shizi/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=show&amp;tid=405" />
</rule>
<rule name="portal_article123">

 <match url="^xingzuo/chunv/today/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=406&amp;nid=1" />
</rule>
<rule name="portal_article124">

 <match url="^xingzuo/chunv/tomorrow/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=406&amp;nid=2" />
</rule>
<rule name="portal_article125">

 <match url="^xingzuo/chunv/week/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=406&amp;nid=3" />
</rule>
<rule name="portal_article126">

 <match url="^xingzuo/chunv/month/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=406&amp;nid=4" />
</rule>
<rule name="portal_article127">

 <match url="^xingzuo/chunv/year/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=406&amp;nid=5" />
</rule>
<rule name="portal_article128">

 <match url="^xingzuo/chunv/love/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=406&amp;nid=6" />
</rule>
<rule name="portal_article129">

 <match url="^xingzuo/chunv/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=show&amp;tid=406" />
</rule>
<rule name="portal_article130">

 <match url="^xingzuo/tiancheng/today/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=407&amp;nid=1" />
</rule>
<rule name="portal_article131">

 <match url="^xingzuo/tiancheng/tomorrow/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=407&amp;nid=2" />
</rule>
<rule name="portal_article132">

 <match url="^xingzuo/tiancheng/week/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=407&amp;nid=3" />
</rule>
<rule name="portal_article133">

 <match url="^xingzuo/tiancheng/month/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=407&amp;nid=4" />
</rule>
<rule name="portal_article134">

 <match url="^xingzuo/tiancheng/year/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=407&amp;nid=5" />
</rule>
<rule name="portal_article135">

 <match url="^xingzuo/tiancheng/love/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=407&amp;nid=6" />
</rule>
<rule name="portal_article136">

 <match url="^xingzuo/tiancheng/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=show&amp;tid=407" />
</rule>
<rule name="portal_article137">

 <match url="^xingzuo/tianxie/today/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=408&amp;nid=1" />
</rule>
<rule name="portal_article138">

 <match url="^xingzuo/tianxie/tomorrow/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=408&amp;nid=2" />
</rule>
<rule name="portal_article139">

 <match url="^xingzuo/tianxie/week/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=408&amp;nid=3" />
</rule>
<rule name="portal_article140">

 <match url="^xingzuo/tianxie/month/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=408&amp;nid=4" />
</rule>
<rule name="portal_article141">

 <match url="^xingzuo/tianxie/year/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=408&amp;nid=5" />
</rule>
<rule name="portal_article142">

 <match url="^xingzuo/tianxie/love/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=408&amp;nid=6" />
</rule>
<rule name="portal_article143">

 <match url="^xingzuo/tianxie/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=show&amp;tid=408" />
</rule>
<rule name="portal_article144">

 <match url="^xingzuo/sheshou/today/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=409&amp;nid=1" />
</rule>
<rule name="portal_article145">

 <match url="^xingzuo/sheshou/tomorrow/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=409&amp;nid=2" />
</rule>
<rule name="portal_article146">

 <match url="^xingzuo/sheshou/week/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=409&amp;nid=3" />
</rule>
<rule name="portal_article147">

 <match url="^xingzuo/sheshou/month/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=409&amp;nid=4" />
</rule>
<rule name="portal_article148">

 <match url="^xingzuo/sheshou/year/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=409&amp;nid=5" />
</rule>
<rule name="portal_article149">

 <match url="^xingzuo/sheshou/love/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=409&amp;nid=6" />
</rule>
<rule name="portal_article150">

 <match url="^xingzuo/sheshou/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=show&amp;tid=409" />
</rule>
<rule name="portal_article151">

 <match url="^xingzuo/mojie/today/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=410&amp;nid=1" />
</rule>
<rule name="portal_article152">

 <match url="^xingzuo/mojie/tomorrow/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=410&amp;nid=2" />
</rule>
<rule name="portal_article153">

 <match url="^xingzuo/mojie/week/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=410&amp;nid=3" />
</rule>
<rule name="portal_article154">

 <match url="^xingzuo/mojie/month/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=410&amp;nid=4" />
</rule>
<rule name="portal_article155">

 <match url="^xingzuo/mojie/year/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=410&amp;nid=5" />
</rule>
<rule name="portal_article156">

 <match url="^xingzuo/mojie/love/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=410&amp;nid=6" />
</rule>
<rule name="portal_article157">

 <match url="^xingzuo/mojie/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=show&amp;tid=410" />
</rule>
<rule name="portal_article158">

 <match url="^xingzuo/shuiping/today/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=411&amp;nid=1" />
</rule>
<rule name="portal_article159">

 <match url="^xingzuo/shuiping/tomorrow/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=411&amp;nid=2" />
</rule>
<rule name="portal_article160">

 <match url="^xingzuo/shuiping/week/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=411&amp;nid=3" />
</rule>
<rule name="portal_article161">

 <match url="^xingzuo/shuiping/month/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=411&amp;nid=4" />
</rule>
<rule name="portal_article162">

 <match url="^xingzuo/shuiping/year/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=411&amp;nid=5" />
</rule>
<rule name="portal_article163">

 <match url="^xingzuo/shuiping/love/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=411&amp;nid=6" />
</rule>
<rule name="portal_article164">

 <match url="^xingzuo/shuiping/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=show&amp;tid=411" />
</rule>
<rule name="portal_article165">

 <match url="^xingzuo/shuangyu/today/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=412&amp;nid=1" />
</rule>
<rule name="portal_article166">

 <match url="^xingzuo/shuangyu/tomorrow/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=412&amp;nid=2" />
</rule>
<rule name="portal_article167">

 <match url="^xingzuo/shuangyu/week/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=412&amp;nid=3" />
</rule>
<rule name="portal_article168">

 <match url="^xingzuo/shuangyu/month/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=412&amp;nid=4" />
</rule>
<rule name="portal_article169">

 <match url="^xingzuo/shuangyu/year/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=412&amp;nid=5" />
</rule>
<rule name="portal_article170">

 <match url="^xingzuo/shuangyu/love/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=page&amp;tid=412&amp;nid=6" />
</rule>
<rule name="portal_article171">

 <match url="^xingzuo/shuangyu/?$" />
 <action type="Rewrite" url="index.php\?ct=xingzuo&amp;ac=show&amp;tid=412" />
</rule>
<rule name="portal_article172">

 <match url="^chouqian/guanyin/1/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=guanyin&amp;act=go" />
</rule>
<rule name="portal_article22172">

 <match url="^chouqian/guanyin/1$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=guanyin&amp;act=go" />
</rule>
<rule name="portal_article173">

 <match url="^chouqian/guanyin/2/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=guanyin&amp;clicknum=1&amp;qid={R:1}" />
</rule>
<rule name="portal_article174">

 <match url="^chouqian/guanyin/3/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=guanyin&amp;clicknum=2&amp;qid={R:1}" />
</rule>
<rule name="portal_article175">

 <match url="^chouqian/guanyin/4/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=guanyin&amp;act=jq&amp;qid={R:1}" />
</rule>
<rule name="portal_article176">

 <match url="^chouqian/guanyin/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=guanyin" />
</rule>
<rule name="portal_article177">

 <match url="^chouqian/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=index" />
</rule>
<rule name="portal_article178">

 <match url="^chouqian/index.html$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=index" />
</rule>
<rule name="portal_article179">

 <match url="^chouqian/lvzu/1/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=lvzu&amp;act=go" />
</rule>
<rule name="portal_article1799">

 <match url="^chouqian/lvzu/1$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=lvzu&amp;act=go" />
</rule>
<rule name="portal_article180">

 <match url="^chouqian/lvzu/2/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=lvzu&amp;clicknum=1&amp;qid={R:1}" />
</rule>
<rule name="portal_article181">

 <match url="^chouqian/lvzu/3/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=lvzu&amp;clicknum=2&amp;qid={R:1}" />
</rule>
<rule name="portal_article182">

 <match url="^chouqian/lvzu/4/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=lvzu&amp;act=jq&amp;qid={R:1}" />
</rule>
<rule name="portal_article183">

 <match url="^chouqian/lvzu/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=lvzu" />
</rule>
<rule name="portal_article184">

 <match url="^chouqian/chegong/1/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=chegong&amp;act=go" />
</rule>
<rule name="portal_article1844">

 <match url="^chouqian/chegong/1$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=chegong&amp;act=go" />
</rule>
<rule name="portal_article185">

 <match url="^chouqian/chegong/2/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=chegong&amp;clicknum=1&amp;qid={R:1}" />
</rule>
<rule name="portal_article186">

 <match url="^chouqian/chegong/3/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=chegong&amp;clicknum=2&amp;qid={R:1}" />
</rule>
<rule name="portal_article187">

 <match url="^chouqian/chegong/4/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=chegong&amp;act=jq&amp;qid={R:1}" />
</rule>
<rule name="portal_article188">

 <match url="^chouqian/chegong/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=chegong" />
</rule>
<rule name="portal_article189">

 <match url="^chouqian/wanggong/1/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=wanggong&amp;act=go" />
</rule>
<rule name="portal_article1899">

 <match url="^chouqian/wanggong/1$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=wanggong&amp;act=go" />
</rule>
<rule name="portal_article190">

 <match url="^chouqian/wanggong/2/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=wanggong&amp;clicknum=1&amp;qid={R:1}" />
</rule>
<rule name="portal_article191">

 <match url="^chouqian/wanggong/3/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=wanggong&amp;clicknum=2&amp;qid={R:1}" />
</rule>
<rule name="portal_article192">

 <match url="^chouqian/wanggong/4/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=wanggong&amp;act=jq&amp;qid={R:1}" />
</rule>
<rule name="portal_article193">

 <match url="^chouqian/wanggong/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=wanggong" />
</rule>
<rule name="portal_article194">

 <match url="^chouqian/wanggong/1/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=wanggong&amp;act=go" />
</rule>
<rule name="portal_article195">

 <match url="^chouqian/wanggong/2/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=wanggong&amp;clicknum=1&amp;qid={R:1}" />
</rule>
<rule name="portal_article196">

 <match url="^chouqian/wanggong/3/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=wanggong&amp;clicknum=2&amp;qid={R:1}" />
</rule>
<rule name="portal_article197">

 <match url="^chouqian/wanggong/4/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=wanggong&amp;act=jq&amp;qid={R:1}" />
</rule>
<rule name="portal_article198">

 <match url="^chouqian/wanggong/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=wanggong" />
</rule>
<rule name="portal_article199">

 <match url="^chouqian/huangdaxian/1/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=huangdaxian&amp;act=go" />
</rule>
<rule name="portal_article1999">

 <match url="^chouqian/huangdaxian/1$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=huangdaxian&amp;act=go" />
</rule>
<rule name="portal_article200">

 <match url="^chouqian/huangdaxian/2/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=huangdaxian&amp;clicknum=1&amp;qid={R:1}" />
</rule>
<rule name="portal_article201">

 <match url="^chouqian/huangdaxian/3/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=huangdaxian&amp;clicknum=2&amp;qid={R:1}" />
</rule>
<rule name="portal_article202">

 <match url="^chouqian/huangdaxian/4/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=huangdaxian&amp;act=jq&amp;qid={R:1}" />
</rule>
<rule name="portal_article203">

 <match url="^chouqian/huangdaxian/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=huangdaxian" />
</rule>
<rule name="portal_article204">

 <match url="^chouqian/guandi/1/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=guandi&amp;act=go" />
</rule>
<rule name="portal_article2044">

 <match url="^chouqian/guandi/1$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=guandi&amp;act=go" />
</rule>
<rule name="portal_article205">

 <match url="^chouqian/guandi/2/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=guandi&amp;clicknum=1&amp;qid={R:1}" />
</rule>
<rule name="portal_article206">

 <match url="^chouqian/guandi/3/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=guandi&amp;clicknum=2&amp;qid={R:1}" />
</rule>
<rule name="portal_article207">

 <match url="^chouqian/guandi/4/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=guandi&amp;act=jq&amp;qid={R:1}" />
</rule>
<rule name="portal_article208">

 <match url="^chouqian/guandi/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=guandi" />
</rule>
<rule name="portal_article209">

 <match url="^chouqian/tianhou/1/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=tianhou&amp;act=go" />
</rule>
<rule name="portal_article2099">

 <match url="^chouqian/tianhou/1$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=tianhou&amp;act=go" />
</rule>
<rule name="portal_article210">

 <match url="^chouqian/tianhou/2/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=tianhou&amp;clicknum=1&amp;qid={R:1}" />
</rule>
<rule name="portal_article211">

 <match url="^chouqian/tianhou/3/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=tianhou&amp;clicknum=2&amp;qid={R:1}" />
</rule>
<rule name="portal_article212">

 <match url="^chouqian/tianhou/4/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=tianhou&amp;act=jq&amp;qid={R:1}" />
</rule>
<rule name="portal_article213">

 <match url="^chouqian/tianhou/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=tianhou" />
</rule>
<rule name="portal_article214">

 <match url="^chouqian/yuelao/1/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=yuelao&amp;act=go" />
</rule>
<rule name="portal_article2144">

 <match url="^chouqian/yuelao/1$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=yuelao&amp;act=go" />
</rule>
<rule name="portal_article215">

 <match url="^chouqian/yuelao/2/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=yuelao&amp;clicknum=1&amp;qid={R:1}" />
</rule>
<rule name="portal_article216">

 <match url="^chouqian/yuelao/3/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=yuelao&amp;clicknum=2&amp;qid={R:1}" />
</rule>
<rule name="portal_article217">

 <match url="^chouqian/yuelao/4/(.*)$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=yuelao&amp;act=jq&amp;qid={R:1}" />
</rule>
<rule name="portal_article218">

 <match url="^chouqian/yuelao/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=yuelao" />
</rule>
<rule name="portal_article219">

 <match url="^chouqian/zhugeliang/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=zhugeliang" />
</rule>

<rule name="portal_article2199">

 <match url="^chouqian/zhugeliang/([^/]*)/?$" />
 <action type="Rewrite" url="index.php\?ct=chouqian&amp;ac=zhugeliang&amp;name1={R:1}" />
</rule>

<rule name="portal_article220">

 <match url="^shengxiao/shu/?$" />
 <action type="Rewrite" url="index.php\?ct=shengxiao&amp;ac=show&amp;tid=418" />
</rule>
<rule name="portal_article22220">

 <match url="^shengxiao/ma/?$" />
 <action type="Rewrite" url="index.php\?ct=shengxiao&amp;ac=show&amp;tid=424" />
</rule>
<rule name="portal_article221">

 <match url="^shengxiao/niu/?$" />
 <action type="Rewrite" url="index.php\?ct=shengxiao&amp;ac=show&amp;tid=419" />
</rule>
<rule name="portal_article222">

 <match url="^shengxiao/hu/?$" />
 <action type="Rewrite" url="index.php\?ct=shengxiao&amp;ac=show&amp;tid=420" />
</rule>
<rule name="portal_article223">

 <match url="^shengxiao/tu/?$" />
 <action type="Rewrite" url="index.php\?ct=shengxiao&amp;ac=show&amp;tid=421" />
</rule>
<rule name="portal_article224">

 <match url="^shengxiao/long/?$" />
 <action type="Rewrite" url="index.php\?ct=shengxiao&amp;ac=show&amp;tid=422" />
</rule>
<rule name="portal_article225">

 <match url="^shengxiao/she/?$" />
 <action type="Rewrite" url="index.php\?ct=shengxiao&amp;ac=show&amp;tid=423" />
</rule>
<rule name="portal_article226">

 <match url="^shengxiao/ma/?$" />
 <action type="Rewrite" url="index.php\?ct=shengxiao&amp;ac=show&amp;tid=424" />
</rule>
<rule name="portal_article227">

 <match url="^shengxiao/yang/?$" />
 <action type="Rewrite" url="index.php\?ct=shengxiao&amp;ac=show&amp;tid=425" />
</rule>
<rule name="portal_article228">

 <match url="^shengxiao/hou/?$" />
 <action type="Rewrite" url="index.php\?ct=shengxiao&amp;ac=show&amp;tid=426" />
</rule>
<rule name="portal_article229">

 <match url="^shengxiao/ji/?$" />
 <action type="Rewrite" url="index.php\?ct=shengxiao&amp;ac=show&amp;tid=427" />
</rule>
<rule name="portal_article230">

 <match url="^shengxiao/gou/?$" />
 <action type="Rewrite" url="index.php\?ct=shengxiao&amp;ac=show&amp;tid=428" />
</rule>
<rule name="portal_article231">

 <match url="^shengxiao/zhu/?$" />
 <action type="Rewrite" url="index.php\?ct=shengxiao&amp;ac=show&amp;tid=429" />
</rule>
<rule name="portal_article232">

 <match url="^shengxiao/?$" />
 <action type="Rewrite" url="index.php\?ct=shengxiao&amp;ac=index" />
</rule>
<rule name="portal_article233">

 <match url="^huangli.js" /> 
 <action type="Rewrite" url="index.php\?ct=hdjr&amp;ac=jrhl" />
</rule>

<rule name="portal_article234">

 <match url="^api/srmm/?$" />
 <action type="Rewrite" url="index.php\?ct=api&amp;ac=shengrimima" />
</rule>
<rule name="portal_article235">

 <match url="^sech-(.*)-([0-9]+).html" /> 
 <action type="Rewrite" url="index.php\?ct=zgjm&amp;ac=search&amp;q={R:1}&amp;page={R:2}" />
</rule>
		
		
	</rules>
</rewrite>
   </system.webServer> 	
</configuration>
