.page-names-details {
    background-color: #fff7e7;
}

.name-details {
    padding: .5rem .3rem;
}

.name-details-info ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;
    padding: 0;
    margin: .1rem;
}

.name-details-info ul li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    list-style: none;
    text-align: center;
}

.name-details-info ul li+li {
    -webkit-box-flex: 2.2;
    -moz-box-flex: 2.2;
    -webkit-flex: 2.2;
    -ms-flex: 2.2;
    flex: 2.2;
    margin-left: .1rem;
}

.name-details-info ul li span {
    display: block;
    background-color: #fff7e7;
    border: solid 1px #caa177;
    margin-bottom: .1rem;
    padding: .2rem 0;
}

@media(max-width: 768px) {
    .name-details-info ul li span {
        font-size: .5rem;
    }
}

.name-details-info {
    margin-bottom: .5rem;
}

.name-lucky {
    margin-bottom: .5rem;
}

.name-lucky>div {
    margin-bottom: .6rem;
}

.name-lucky h4 {
    margin: .2rem 0;
    font-size: .5rem;
    font-weight: normal;
}

.name-lucky h4 span {
    display: inline-block;
    padding: .05rem .3rem;
    border-left: solid 5px transparent;
    color: #333;
}

.name-lucky h4.bg-primary-1 span {
    border-color: #fbb102;
}

.name-lucky h4.bg-primary-2 span {
    border-color: #c4a0ff;
}

.name-lucky h4.bg-primary-3 span {
    border-color: #509afd;
}

.name-lucky h4.bg-primary-4 span {
    border-color: #59d8cd;
}

.name-lucky h4.bg-primary-5 span {
    border-color: #2ccc6c;
}

.name-lucky h4.bg-primary-6 span {
    border-color: #fd7879;
}

.name-lucky h4.bg-primary-7 span {
    border-color: #54ceff;
}

.name-lucky h4.bg-primary-8 span {
    border-color: #fbb102;
}

.name-lucky h4.bg-primary-9 span {
    border-color: #c39fff;
}

.name-zodiac p,
.name-explain p {
    padding: 0 .3rem;
    line-height: 1.6;
    word-break: break-all;
}

.name-explain p {
    margin: 0 auto;
}

.name-bazi p {
    text-indent: 2em;
    line-height: 1.8;
    padding: 0 .3rem;
}

.name-lucky p {
    line-height: 1.8;
    padding: 0 .3rem;
}

.name-explain-title {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
}

.name-explain-title div {
    margin: 0 .3em;
    text-align: center;
}

.name-explain-title div span {
    display: block;
    position: relative;
    overflow: hidden;
    color: #b2182a;
    font-size: .5rem;
    margin: 0 auto .3rem;
    line-height: 1;
}

.name-explain-title div .name {
    width: 1.6em;
    border: solid 1px #b2182a;
    font-size: 1rem;
    height: 1.6em;
    line-height: 1.4em;
    color: #333;
}

.name-explain-title div .name em {
    position: relative;
    z-index: 2;
    font-weight: normal;
}

.name-explain-title div .name i {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%;
    background: #e4d0bb;
}

.name-explain-title div .name i+i {
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
}

.name-explain-title div .name:before {
    content: '';
    display: block;
    height: 200%;
    position: absolute;
    width: 1px;
    border-right: dashed 2px #e4d0bb;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 50%;
    top: 50%;
    margin-top: -100%;
}

.name-explain-title div .name:after {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    width: 200%;
    border-bottom: dashed 2px #e4d0bb;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 50%;
    left: 50%;
    margin-left: -100%;
}

.name-score {
    text-align: center;
    font-size: .5rem;
    margin: 0 auto .3rem;
    line-height: 1;
}

.name-score span {
    color: #b2182a;
}

.name-explain-title {
    position: relative;
}

.name-explain-title .nameScore {
    display: block;
    width: 4em;
    height: 3em;
    text-align: center;
    line-height: 3em;
    background: url(../images/nameScore.png) center no-repeat;
    position: absolute;
    z-index: 9;
    right: 1rem;
    color: #e62129;
    font-size: .4rem;
    transform: rotate(-15deg);
    background-size: contain;
    top: -.5rem;
    font-weight: bold;
}

.name-explan-contact {
    margin-bottom: 1em;
    word-break: break-all;
    color: #666;
    margin-top: 1em;
    border-top: dashed 1px #ddd;
    border-bottom: dashed 1px #ddd;
    padding: 1em .5em;
}

.name-explan-contact span {
    color: #f30c38;
}

.guansha {
    padding: 0 1em;
}

.guansha p {
    margin-bottom: 1em;
}

.guanshaList {
    margin-bottom: 1em;
}

.guanshaList ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;
    border-bottom: solid 1px #ddd;
}

.guanshaList ul:first-child {
    border-top: solid 1px #ddd;
}

.guanshaList ul li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    border-right: solid 1px #ddd;
    padding: .5em 0;
}

.guanshaList ul li:first-child {
    border-left: solid 1px #ddd;
}

.name-result .wuxing {
    padding: .5rem 0;
}

.name-result .wuxing ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-align: justify;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.name-result .wuxing ul li {
    -webkit-box-flex: 4;
    -moz-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
    text-align: center;
    margin-bottom: .3rem;
    list-style: none;
}

.name-result .wuxing ul li:first-child {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.name-result .wuxing ul li:last-child {
    -webkit-box-flex: 1.5;
    -moz-box-flex: 1.5;
    -webkit-flex: 1.5;
    -ms-flex: 1.5;
    flex: 1.5;
}

.name-result .wuxing ul:nth-child(1) li:last-child {
    color: #cea700;
}

.name-result .wuxing ul:nth-child(2) li:last-child {
    color: #9c7746;
}

.name-result .wuxing ul:nth-child(3) li:last-child {
    color: #529abc;
}

.name-result .wuxing ul:nth-child(4) li:last-child {
    color: #ce5c39;
}

.name-result .wuxing ul:nth-child(5) li:last-child {
    color: #734819;
}

.name-result .wuxing ul li:first-child {
    text-align: center;
}

.name-result .wuxing ul li:first-child img {
    height: 1rem;
    vertical-align: middle;
}

.name-result .wuxing li span {
    display: block;
    margin: 0 auto;
    background: #ccc;
    border-radius: 1rem;
    overflow: hidden;
}

.name-result .wuxing li i {
    display: block;
    height: 1rem;
    border-radius: 1rem;
    min-width: 1rem;
    position: relative;
}

.bg-gradient-1,
.name-result .wuxing ul:nth-child(1) i {
    background: #f8d338;
    background: -moz-linear-gradient(top, #f8d338 0%, #f8d338 40%, #c6a20c 80%, #c6a20c 99%);
    background: -webkit-linear-gradient(top, #f8d338 0%, #f8d338 40%, #c6a20c 80%, #c6a20c 99%);
    background: linear-gradient(to bottom, #f8d338 0%, #f8d338 40%, #c6a20c 80%, #c6a20c 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8d338', endColorstr='#c6a20c', GradientType=0);
}

.bg-gradient-2,
.name-result .wuxing ul:nth-child(2) i {
    background: #f8d338;
    background: -moz-linear-gradient(top, #b39268 0%, #b39268 40%, #84643b 80%, #84643b 99%);
    background: -webkit-linear-gradient(top, #b39268 0%, #b39268 40%, #84643b 80%, #84643b 99%);
    background: linear-gradient(to bottom, #b39268 0%, #b39268 40%, #84643b 80%, #84643b 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b39268', endColorstr='#84643b', GradientType=0);
}

.bg-gradient-3,
.name-result .wuxing ul:nth-child(3) i {
    background: #f8d338;
    background: -moz-linear-gradient(top, #84c9ea 0%, #84c9ea 40%, #5699b8 80%, #5699b8 99%);
    background: -webkit-linear-gradient(top, #84c9ea 0%, #84c9ea 40%, #5699b8 80%, #5699b8 99%);
    background: linear-gradient(to bottom, #84c9ea 0%, #84c9ea 40%, #5699b8 80%, #5699b8 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84c9ea', endColorstr='#5699b8', GradientType=0);
}

.bg-gradient-4,
.name-result .wuxing ul:nth-child(4) i {
    background: #f8d338;
    background: -moz-linear-gradient(top, #ee7e5b 0%, #ee7e5b 40%, #c05635 80%, #c05635 99%);
    background: -webkit-linear-gradient(top, #ee7e5b 0%, #ee7e5b 40%, #c05635 80%, #c05635 99%);
    background: linear-gradient(to bottom, #ee7e5b 0%, #ee7e5b 40%, #c05635 80%, #c05635 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee7e5b', endColorstr='#c05635', GradientType=0);
}

.bg-gradient-5,
.name-result .wuxing ul:nth-child(5) i {
    background: #f8d338;
    background: -moz-linear-gradient(top, #966e41 0%, #966e41 40%, #674219 80%, #674219 99%);
    background: -webkit-linear-gradient(top, #966e41 0%, #966e41 40%, #674219 80%, #674219 99%);
    background: linear-gradient(to bottom, #966e41 0%, #966e41 40%, #674219 80%, #674219 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#966e41', endColorstr='#674219', GradientType=0);
}

.name-result .wuxing span i img {
    height: .8rem;
    position: absolute;
    right: -.5rem;
    top: 50%;
    margin-top: -.4rem;
}

.name-result .wuxing p {
    line-height: 1.6;
    padding: 0 .3rem;
    margin: 0 auto;
}

.zodiac-detais-list .zodiac-detaisl-text {
    margin-bottom: 1em;
}