*{font-family:'Verdana','Microsoft Yahei','\u5FAE\u8F6F\u96C5\u9ED1','\u5B8B\u4F53','SimSun';}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0}
html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6{-webkit-text-size-adjust:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{font-family:'Verdana','Microsoft Yahei','\u5FAE\u8F6F\u96C5\u9ED1','\u5B8B\u4F53','SimSun'; -webkit-text-size-adjust:none; color:#333333; -webkit-text-size-adjust:none; font-size:14px; }
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
form{display:inline}
textarea{resize:none}
table{border-collapse:collapse;border-spacing:0}
ul,ol{list-style:none}
input,select,button{font-family:'Verdana','Microsoft Yahei','\u5FAE\u8F6F\u96C5\u9ED1','\u5B8B\u4F53','SimSun';font-size:100%;vertical-align:middle;outline:none;border:none;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;-moz-appearance:button}
input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
a,a:visited{color:#333333;text-decoration:none;vertical-align:baseline;background:transparent;}
a:hover,a:active,a:focus {color:#FF3333;text-decoration:none;}
img{display:block;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
.disnone { display: none; }
body
{
    background-color: #2d1e23;
    min-width: 1120px;
}
.index_logo
{
    width: 100%;
    height: 70px;
    background-color: #f9f0eb;
}
.index_logo a
{
    display: block;
    width: 153px;
    height: 70px;
    line-height: 200px;
    background-image: url('../img/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.index_zs
{
    width: 100%;
    height: 56px;
    background-image: url('../img/index_tips.png');
    background-position: center;
    background-color: #f9f0eb;
    background-repeat: no-repeat;
}
.index_box
{
    width: 1120px;
    margin: 0 auto 60px;
}
.index_title
{
    width: 600px;
    height: 100px;
    background-image: url('../img/title.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 30px auto;
    line-height: 500px;
    overflow: hidden;
}
.index_cnt::after
{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.index_cnt a
{
    float: left;
    width: 25%;
}
.index_cnt a img
{
    width: 100%;
    height: 178px;
}
.copy_wrap
{
    width: 100%;
    min-width: 1120px;
    height: 40px;
    line-height: 40px;
    margin: auto;
    clear: both;
    text-align: center;
    font-size: 12px;
    color: #666;
}
.copy_wrap a
{
    color: #666;
}