 @media only screen and (max-width:640px) {html {font-size:24px!important}
}
@media only screen and (max-width:480px) {html {font-size:22px!important}
}
@media only screen and (max-width:414px) {html {font-size:20px!important}
}
@media only screen and (max-width:400px) {html {font-size:18px!important}
}
@media only screen and (max-width:375px) {html {font-size:18px!important}
}
@media only screen and (max-width:360px) {html {font-size:18px!important}
}
@media only screen and (max-width:320px) {html {font-size:16px!important}
}
html {font-family:sans-serif;/* 1 */  -ms-text-size-adjust:100%;/* 2 */  -webkit-text-size-adjust:100%;/* 2 */  width:100%;min-height:100%;font-size:24px;}
/** * Remove default margin. */body {margin:0;font-size:100%;font-family:Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1",Helvetica,STHeiti,Droid Sans Fallback;-webkit-tap-highlight-color:rgba(0,0,0,0);width:100%;min-height:100%;}
/* HTML5 display definitions   ========================================================================== *//** * Correct `block` display not defined for any HTML5 element in IE 8/9. * Correct `block` display not defined for `details` or `summary` in IE 10/11 * and Firefox. * Correct `block` display not defined for `main` in IE 11. */article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display:block;}
/** * 1. Correct `inline-block` display not defined in IE 8/9. * 2. Normalize vertical alignment of `progress` in Chrome,Firefox,and Opera. */audio,canvas,progress,video {display:inline-block;/* 1 */  vertical-align:baseline;/* 2 */}
/** * Prevent modern browsers from displaying `audio` without controls. * Remove excess height in iOS 5 devices. */audio:not([controls]) {display:none;height:0;}
[hidden],template {display:none;}
/* Links   ========================================================================== *//** * Remove the gray background color from active links in IE 10. */a {background-color:transparent;}
/** * Improve readability of focused elements when they are also in an * active/hover state. */a:active,a:hover {outline:0;}
/* Text-level semantics   ========================================================================== *//** * Address styling not present in IE 8/9/10/11,Safari,and Chrome. */abbr[title] {border-bottom:1px dotted;/*no*/}
/** * Address style set to `bolder` in Firefox 4+,Safari,and Chrome. */b,strong {font-weight:bold;}
/** * Address styling not present in Safari and Chrome. */dfn {font-style:italic;}
/** * Address variable `h1` font-size and margin within `section` and `article` * contexts in Firefox 4+,Safari,and Chrome. */h1 {font-size:2em;margin:0.67em 0;}
mark {background:#ff0;color:#000;}
small {font-size:80%;}
sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
/* Embedded content   ========================================================================== *//** * Remove border when inside `a` element in IE 8/9/10. */img {border:0;}
/** * Correct overflow not hidden in IE 9/10/11. */svg:not(:root) {overflow:hidden;}
/* Grouping content   ========================================================================== *//** * Address margin not present in IE 8/9 and Safari. */figure {margin:1em 1.06667rem;/*no*/}
/** * Address differences between Firefox and other browsers. */hr {-webkit-box-sizing:content-box;box-sizing:content-box;height:0;}
/** * Contain overflow in all browsers. */pre {overflow:auto;}
/** * Address odd `em`-unit font size rendering in all browsers. */code,kbd,pre,samp {font-family:monospace,monospace;font-size:1em;}
/* Forms   ========================================================================== *//** * Known limitation:by default,Chrome and Safari on OS X allow very limited * styling of `select`,unless a `border` property is set. *//** * 1. Correct color not being inherited. *    Known issue:affects color of disabled elements. * 2. Correct font properties not being inherited. * 3. Address margins set differently in Firefox 4+,Safari,and Chrome. */button,input,optgroup,select,textarea {color:inherit;/* 1 */  font:inherit;/* 2 */  margin:0;/* 3 */}
/** * Address `overflow` set to `hidden` in IE 8/9/10/11. */button {overflow:visible;}
/** * Address inconsistent `text-transform` inheritance for `button` and `select`. * All other form control elements do not inherit `text-transform` values. * Correct `button` style inheritance in Firefox,IE 8/9/10/11,and Opera. * Correct `select` style inheritance in Firefox. */button,select {text-transform:none;}
/** * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` *    and `video` controls. * 2. Correct inability to style clickable `input` types in iOS. * 3. Improve usability and consistency of cursor style between image-type *    `input` and others. */button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance:button;/* 2 */  cursor:pointer;/* 3 */}
/** * Re-set default cursor for disabled elements. */button[disabled],html input[disabled] {cursor:default;}
/** * Remove inner padding and border in Firefox 4+. */button::-moz-focus-inner,input::-moz-focus-inner {border:0;padding:0;}
/** * Address Firefox 4+ setting `line-height` on `input` using `!important` in * the UA stylesheet. */input {line-height:normal;}
/** * It's recommended that you don't attempt to style these elements. * Firefox's implementation doesn't respect box-sizing,padding,or width. * * 1. Address box sizing set to `content-box` in IE 8/9/10. * 2. Remove excess padding in IE 8/9/10. */input[type="checkbox"],input[type="radio"] {-webkit-box-sizing:border-box;box-sizing:border-box;/* 1 */  padding:0;/* 2 */}
/** * Fix the cursor style for Chrome's increment/decrement buttons. For certain * `font-size` values of the `input`,it causes the cursor style of the * decrement button to change from `default` to `text`. */input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height:auto;}
/** * 1. Address `appearance` set to `searchfield` in Safari and Chrome. * 2. Address `box-sizing` set to `border-box` in Safari and Chrome. */input[type="search"] {-webkit-appearance:textfield;/* 1 */  -webkit-box-sizing:content-box;box-sizing:content-box;/* 2 */}
/** * Remove inner padding and search cancel button in Safari and Chrome on OS X. * Safari (but not Chrome) clips the cancel button when the search input has * padding (and `textfield` appearance). */input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
/** * Define consistent border,margin,and padding. */fieldset {border:1px solid #c0c0c0;/*no*/  margin:0 2px;/*no*/  padding:0.35em 0.625em 0.75em;}
/** * 1. Correct `color` not being inherited in IE 8/9/10/11. * 2. Remove padding so people aren't caught out if they zero out fieldsets. */legend {border:0;/* 1 */  padding:0;/* 2 */}
/** * Remove default vertical scrollbar in IE 8/9/10/11. */textarea {overflow:auto;}
/** * Don't inherit the `font-weight` (applied by a rule above). * NOTE:the default cannot safely be changed in Chrome and Safari on OS X. */optgroup {font-weight:bold;}
/* Tables   ========================================================================== *//** * Remove most spacing between table cells. */table {border-collapse:collapse;border-spacing:0;}
td,th {padding:0;}
ul,ol {list-style:none;}
body,div,ol,ul,li,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,iframe,input,textarea,select,label,article,aside,footer,header,menu,nav,section,time,audio,video {margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;}
a {text-decoration:none;}
a,input,textarea,select {outline:none;}
/*** 配置*//*** 公共样式*/html {background-color:#fff;}
.container {background:#fff;width:100%;min-height:100%;position:relative;min-width:360px;max-width:720px;margin:0 auto;color:#333;z-index:1;}
.wrapper {width:100%;min-height:100%;position:relative;z-index:1;}
img {width:100%;vertical-align:top;}
.clear {_zoom:1;clear:both;}
.clear:after {content:"";display:block;height:0;visibility:hidden;clear:both;}
.left {float:left;}
.right {float:right;}
.auto {overflow:hidden;}
.li-left li {display:block;float:left;}
.li-right li {display:block;float:right;}
.hide {display:none;}
.rlt {position:relative;}
.new-header {width:100%;height:2.66667rem;line-height:2.66667rem;background-color:#fff;border-bottom:1px solid #e4e4e4;/*no*/}
.new-header .left span,.new-header .right span {display:block;width:2.34667rem;height:2.66667rem;}
.new-header .icon-back {background:transparent url(/statics/ffsm/xydd/images/fanhui.png) no-repeat center;background-size:80%;}
.new-header .icon-menu {background:transparent url(/statics/ffsm/xydd/images/hiy.png) no-repeat center;background-size:80%;}
.new-header .auto {color:#4f4f4f;margin:0 2.75rem;font-size:0.90667rem;}
.new-header .auto .color1 {color:#dc8732;}
.new-header .auto .icon-next {margin:0 0.42667rem 0 0.26667rem;display:inline-block;width:0.48rem;height:0.48rem;border-top:2px solid #555;/*no*/  border-right:2px solid #555;/*no*/  -webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.site-menu {position:fixed;top:2.75rem;left:0;right:0;bottom:0;z-index:10000;display:none;margin-top:1px;/*no*/  opacity:0;-webkit-transition:all 0.5s ease-in;overflow:auto;}
.site-menu.menu-show {display:block;opacity:1;}
.site-menu ul {margin:0 1rem;}
.site-menu li {width:33.333%;margin-top:1rem;}
.site-menu a {display:block;}
.site-menu .icon {display:block;width:3.5rem;height:3.5rem;margin:0 auto;}
.site-menu .icon img {width:100%;height:auto;}
.site-menu p {height:1.5rem;line-height:1.5rem;text-align:center;font-size:1rem;overflow:hidden;color:#333;}
.menu-wrapper {min-width:360px;max-width:720px;overflow:auto;margin:0 auto;background-color:rgba(255,255,255,0.9);min-height:100%;}
.s-m-a-enter {opacity:0.01;-webkit-transition:all 0.5s ease-in;transition:all 0.5s ease-in;}
.s-m-a-enter.s-m-a-enter-active {opacity:1;}
@-webkit-keyframes menuin {0% {-webkit-transform:scale(3);-ms-transform:scale(3);transform:scale(3);opacity:0;}
100% {-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1;}
}
@keyframes menuin {0% {-webkit-transform:scale(3);-ms-transform:scale(3);transform:scale(3);opacity:0;}
100% {-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1;}
}
@-webkit-keyframes menuout {0% {-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1;}
100% {-webkit-transform:scale(3);-ms-transform:scale(3);transform:scale(3);opacity:0;}
}
@keyframes menuout {0% {-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1;}
100% {-webkit-transform:scale(3);-ms-transform:scale(3);transform:scale(3);opacity:0;}
}
.menuin {display:block;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-webkit-animation-duration:300ms;animation-duration:300ms;-webkit-animation-name:menuin;animation-name:menuin;-webkit-transform-origin:50% 50%;}
.menuout {display:block;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-webkit-animation-duration:300ms;animation-duration:300ms;-webkit-animation-name:menuout;animation-name:menuout;-webkit-transform-origin:50% 50%;}
.shop-common-tip-layer {position:fixed;z-index:19491001;top:50%;left:50%;width:16rem;height:3rem;margin-top:-1.5rem;margin-left:-8rem;}
.shop-common-tip-layer .back {width:100%;height:100%;background:#000;opacity:.5;-webkit-border-radius:5px;border-radius:5px;/*no*/  -webkit-box-shadow:0 0 1rem #000;box-shadow:0 0 1rem #000;}
.shop-common-tip-layer .front {position:absolute;width:16rem;top:50%;left:0;font-size:.875rem;color:#fff;text-align:center;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
.shop-common-tip-layer .front span {color:#fff;font-size:.875rem;}
.assess-tips {text-align:center;padding-top:1.06667rem;}
.assess-tips span {font-size:0.8rem;display:inline-block;vertical-align:middle;color:#f8553d;}
.assess-tips span:before,.assess-tips span:after {display:inline-block;content:"";width:3.2rem;height:1px;/*no*/  background-color:#999999;vertical-align:middle;}
.assess-tips span:before {margin-right:0.66667rem;}
.assess-tips span:after {margin-left:0.66667rem;}
.star-box {margin-top:0.8rem;text-align:center;}
.star-box span {vertical-align:middle;margin-right:0.66667rem;color:#999999;font-size:0.74667rem;}
.star_bg {display:inline-block;vertical-align:middle;width:8.53333rem;height:1.17333rem;background:url("//zxcs.ggwan.com/forecastimages/coupon/star.png") repeat-x;background-size:1.78667rem 2.66667rem;position:relative;overflow:hidden;}
.star {height:100%;width:1.78667rem;line-height:6em;position:absolute;z-index:3;}
label {display:block;height:100%;width:100%;}
.star_1 {left:0;}
.star_2 {left:1.81333rem;}
.star_3 {left:3.62667rem;}
.star_4 {left:5.44rem;}
.star_5 {left:7.25333rem;}
.satis,.acc {position:absolute;opacity:0;}
.satis:checked + .star,.acc:checked + .star {background:url("//zxcs.ggwan.com/forecastimages/coupon/star.png") repeat-x 0 -1.49333rem;background-size:1.78667rem 2.66667rem;left:0;z-index:1;}
.satis_1:checked ~ .star_1,.acc_1:checked ~ .star_1 {width:1.78667rem;}
.satis_2:checked ~ .star_2,.acc_2:checked ~ .star_2 {width:3.52rem;}
.satis_3:checked ~ .star_3,.acc_3:checked ~ .star_3 {width:5.28rem;}
.satis_4:checked ~ .star_4,.acc_4:checked ~ .star_4 {width:7.04rem;}
.satis_5:checked ~ .star_5,.acc_5:checked ~ .star_5 {width:8.8rem;}
.access-content {margin-top:0.8rem;text-align:center;}
.access-content textarea {resize:none;background-color:#efece7;width:13.33333rem;height:4.64rem;-webkit-box-sizing:border-box;box-sizing:border-box;border:none;-webkit-border-radius:0.21333rem;border-radius:0.21333rem;padding:0.53333rem 0.8rem;color:#333333;font-size:0.74667rem;}
.submit-btn {padding:0.8rem 0;}
.submit-btn a {width:13.33333rem;margin:0 auto;display:block;height:1.92rem;line-height:1.92rem;color:#fff;text-align:center;background-color:#f85f48;font-size:0.8rem;-webkit-border-radius:5px;border-radius:5px;}
.addEmail {background-color:#f5f5f5;margin-bottom:0.53333rem;}
.addEmail .title {background:#e19d59;text-align:left;font-size:0.8rem;color:#fff;height:2.26667rem;line-height:2.26667rem;padding-left:0.66667rem;}
.addEmail .unfolded {-webkit-border-radius:0.21333rem;border-radius:0.21333rem;}
.addEmail .folded {-webkit-border-top-right-radius:0.21333rem;border-top-right-radius:0.21333rem;-webkit-border-top-left-radius:0.21333rem;border-top-left-radius:0.21333rem;}
.addEmail .form-box {padding:0.96rem 1.06667rem 0.66667rem;}
.addEmail .form-box .email {font-size:0.8rem;border:1px solid #ddd;/*no*/  background:#fff;-webkit-border-radius:0.21333rem;border-radius:0.21333rem;padding:0.64rem 0.48rem;}
.addEmail .form-box .phone {margin-top:0.26667rem;}
.addEmail .form-box input {border:none;outline:none;width:96%;vertical-align:baseline;margin-left:0.53333rem;}
.m-check {margin:0 0.2rem;font-size:0.8rem;}
.m-check .checkbox {display:inline-block;width:1rem;height:1rem;line-height:1rem;margin-right:.5rem;margin-top:.6875rem;border:1px solid #d88f31;/*no*/  -webkit-border-radius:0.21333rem;border-radius:0.21333rem;background-color:#fff;cursor:pointer;}
.m-check .text {vertical-align:super;color:#555;font-size:0.8rem;}
.m-check a {color:#dc8732;text-decoration:underline;}
.m-check .checked {background:#fff url('//zxcs.ggwan.com/forecastimages/bgChecked.png?version=06558144151203413') no-repeat center;background-size:0.58667rem 0.4rem;}
.m-btn {text-align:center;color:#fff;background-color:#dc8732;height:2.08rem;line-height:2.08rem;-webkit-border-radius:0.26667rem;border-radius:0.26667rem;margin-top:0.42667rem;font-size:0.8rem;}
.fixBottom {position:fixed;bottom:0;left:0;right:0;text-align:center;height:2.29333rem;line-height:2.29333rem;color:#fff;font-size:0.8rem;background-color:#dc8732;z-index:999;padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);}
.fixBottom a {display:block;width:100%;color:#fff;}
.common-loading-layer {position:fixed;top:0;left:0;right:0;bottom:0;z-index:9999;}
.common-loading-layer .back {width:100%;height:100%;background:#000;opacity:.5;}
.common-loading-layer .front {width:16rem;height:8rem;position:fixed;top:50%;left:50%;margin-top:-4rem;margin-left:-8rem;background:#fff;-webkit-border-radius:0.21333rem;/*no*/  /*no*/  border-radius:0.21333rem;/*no*/}
.common-loading-layer .front .img {text-align:center;line-height:4rem;margin-top:1rem;}
.common-loading-layer .front .img img {width:3.125rem!important;vertical-align:middle!important;display:inline-block;}
.common-loading-layer .front .text {text-align:center;color:#b03a3a;font-size:1rem;padding-top:.25rem;}
.common-loading-layer .front .text i {font-style:normal;-webkit-animation:loading-ani 2s infinite;animation:loading-ani 2s infinite;}
@-webkit-keyframes loading-ani {0% {opacity:1;}
100% {opacity:0;}
}
@keyframes loading-ani {0% {opacity:1;}
100% {opacity:0;}
}
body {padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);}
.wrapper,body,html {background:#a52a1d;}
.pop-email-wrapper {font-size:0.26667rem;}
.content {padding-top:0.8rem;padding-bottom:0.42667rem;}
.content .user-info {text-align:center;}
.content .user-info img {width:2.56rem;}
.content .user-info p {font-size:14px;color:#fff;}
.content .user-info p span {color:#ffd800;}
.content .user-info p.big-font {font-size:14px;}
.content .wish-result {text-align:center;padding-top:0.53333rem;}
.content .wish-result img {width:100%;}
.content .wish-result p {color:#ffe5c1;padding:10px 0;}
.content .wish-result .result-pic {width:100%;margin:0 auto;}
.content .wish-result .go-square {width:100%;}
.fixBottom a {color:#991630 !important;}
/* 重置邮箱样式 */.addEmail {background:#a52a1d !important;}
.m-check .text {color:#fff !important;}
.public_hot_test {border:1px solid #d3d3d3;background-color:#fff}
.public_ht_title {border-bottom:1px solid #d3d3d3;padding:10px;color:#000;font-weight:800;text-align:center;font-size:16px}
.public_ht_ul {position:relative;overflow:hidden;padding:15px 0 0 0;}
.public_ht_ul li {float:left;width:25%;margin-bottom:10px;}
.public_ht_ul li a {display:block;}
.public_ht_ul li img {display:block;width:70%;margin:0 auto;}
.public_ht_ul li p {line-height:24px;height:26px;font-size:15px;color:#ad6409;text-align:center;overflow:hidden;}
.public_footer {margin:20px 0 0;background-color:#dc8732;overflow:hidden;width:100%;padding:20px 0}
.public_footer_servers {overflow:hidden;width:100%;text-align:center;color:#ffffff;padding:20px 0;font-size:12px}
.public_footer_servers a {color:#ffffff}
.public_header {height:44px;line-height:44px;background: #ee4d4c;width:100%;position:relative;}
.public_h_logo {position:absolute;left:10px;height:44px;top:0;display:block}
.public_h_logo img {height:100%;display:block}
.public_h_con {text-align:center;font-size: 18px;color: #ffffff;margin:0 44px;font-weight:400;}
.public_h_home {position:absolute;width:44px;height:44px;top:0;left:0}
.public_h_menu {position:absolute;height:25px;line-height:25px;border: 1px solid #ffffff;border-radius:5px;padding:0 5px;display:block;color: #ffffff;right:10px;top: 9px;font-size: 12px;}
.public_h_home:after {content:'';display:block;width:24px;height:24px;background-size:100% 100%;background-repeat:no-repeat;position:absolute;top:10px;left:10px;background-image: url("/statics/ffsm/public/images/icon_home_bai.png");}