@media only screen and (max-width:640px){html{font-size:24px!important}
}
@media only screen and (max-width:480px){html{font-size:22px!important}
}
@media only screen and (max-width:414px){html{font-size:20px!important}
}
@media only screen and (max-width:400px){html{font-size:18px!important}
}
@media only screen and (max-width:375px){html{font-size:18px!important}
}
@media only screen and (max-width:360px){html{font-size:18px!important}
}
@media only screen and (max-width:320px){html{font-size:16px!important}
} 
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  width: 100%;
  min-height: 100%;
  font-size:24px;
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
  font-size: 100%;
  font-family: Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", Helvetica, STHeiti, Droid Sans Fallback;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  min-height: 100%;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
  /*no*/
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 1.06667rem;
  /*no*/
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  /*no*/
  margin: 0 2px;
  /*no*/
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td, th {
  padding: 0;
}
ul, ol {
  list-style: none;
}
body, div, ol, ul, li, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, iframe, input, textarea, select, label, article, aside, footer, header, menu, nav, section, time, audio, video {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
}
a, input, textarea, select {
  outline: none;
}
/**
* 配置
*/
/**
* 公共样式
*/
html {
  background-color: #fff;
}
.container {
  background: #fff;
  width: 100%;
  min-height: 100%;
  position: relative;
  min-width: 360px;
  max-width: 720px;
  margin: 0 auto;
  color: #333;
  z-index: 1;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 1;
}
img {
  width: 100%;
  vertical-align: top;
}
.clear {
  _zoom: 1;
  clear: both;
}
.clear:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.auto {
  overflow: hidden;
}
.li-left li {
  display: block;
  float: left;
}
.li-right li {
  display: block;
  float: right;
}
.hide {
  display: none;
}
.rlt {
  position: relative;
}
.shop-common-tip-layer {
  position: fixed;
  z-index: 19491001;
  top: 50%;
  left: 50%;
  width: 16rem;
  height: 3rem;
  margin-top: -1.5rem;
  margin-left: -8rem;
}
.shop-common-tip-layer .back {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  /*no*/
  -webkit-box-shadow: 0 0 1rem #000;
          box-shadow: 0 0 1rem #000;
}
.shop-common-tip-layer .front {
  position: absolute;
  width: 16rem;
  top: 50%;
  left: 0;
  font-size: .875rem;
  color: #fff;
  text-align: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.shop-common-tip-layer .front span {
  color: #fff;
  font-size: .875rem;
}
.common-loading-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.common-loading-layer .back {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
}
.common-loading-layer .front {
  width: 16rem;
  height: 8rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -4rem;
  margin-left: -8rem;
  background: #fff;
  -webkit-border-radius: 0.21333rem;
  /*no*/
  /*no*/
  border-radius: 0.21333rem;
  /*no*/
}
.common-loading-layer .front .img {
  text-align: center;
  line-height: 4rem;
  margin-top: 1rem;
}
.common-loading-layer .front .img img {
  width: 3.125rem!important;
  vertical-align: middle!important;
  display: inline-block;
}
.common-loading-layer .front .text {
  text-align: center;
  color: #b03a3a;
  font-size: 1rem;
  padding-top: .25rem;
}
.common-loading-layer .front .text i {
  font-style: normal;
  -webkit-animation: loading-ani 2s infinite;
          animation: loading-ani 2s infinite;
}
@-webkit-keyframes loading-ani {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading-ani {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.wrapper, body {
  background: #AE2C1F;
}
.main {
  overflow: hidden;
}
.tips {
  margin: 0 0.64rem;
  font-size: 0.74667rem;
  color: #fff3f2;
  line-height: 1.12rem;
  padding: 0 0.26667rem;
  margin-top: 0.53333rem;
}
.tips span {
  color: #feef02;
}
.pay-info {
  margin: 0 0.64rem;
  background-color: #fff;
  -webkit-border-radius: 0.26667rem;
          border-radius: 0.26667rem;
  margin-top: 0.58667rem;
  border: 1px solid #e8e1d4;
}
.pay-info h3 {
  color: #333333;
  font-size: 0.85333rem;
  font-weight: normal;
  height: 2.02667rem;
  line-height: 2.02667rem;
  padding-left: 0.93333rem;
  border-bottom: 2px solid #f6ddd7;
}
.pay-info .item-det {
  padding: 0.4rem 0.8rem 0.53333rem;
}
.pay-info .item-det strong {
  font-size: 0.85333rem;
  line-height: 1.28rem;
  height: 1.28rem;
  display: inline-block;
  font-weight: normal;
}
.pay-info .item-det span {
  font-size: 0.74667rem;
}
.pay-info .price strong {
  background-color: #a70103;
  color: #fff;
  padding: 0 0.26667rem;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.pay-info .price span {
  color: #666666;
  margin-left: 0.26667rem;
  text-decoration: line-through;
}
.pay-info .dis-time strong {
  color: #333;
}
.pay-info .dis-time span {
  color: #e1474a;
}
.pay-list-wrapper {
  margin: 0 0.64rem;
}
.pay-content {
  margin: 0.74667rem 0 1.12rem 0;
}
.pay-content .pay-top {
  width: 100%;
  height: 1.65333rem;
  background: transparent url('/statics/ffsm/xydd/images/20180404_t_order.png?version=031922885820738167') no-repeat top center;
  background-size: 100% 100%;
  margin-bottom: -1px;
}
.pay-content .pay-middle {
  height: auto;
  padding: 0 11.7333%;
  background: transparent url('/statics/ffsm/xydd/images/20180404_m_order.png?version=05937685326801636') no-repeat top center;
  background-size: 100% 100%;
}
.pay-content .pay-middle .content-item {
  padding-bottom: 0.85333rem;
}
.pay-content .pay-middle .content-item:last-child {
  padding-bottom: 0;
}
.pay-content .pay-middle h4 {
  width: 9.04rem;
  height: 1.94667rem;
  margin: 0 auto 5px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1.97333rem;
  text-align: center;
  background: transparent url('/statics/ffsm/xydd/images/20180404_pay_title.png?version=01765932905116907') no-repeat center;
  background-size: 100% 100%;
}
.pay-content .pay-middle p {
  font-size: 0.64rem;
  color: #5A1501;
  line-height: 1.01333rem;
}
.pay-content .pay-middle p span {
  color: #AB2B1E;
}
.pay-content .pay-bottom {
  width: 100%;
  height: 2.13333rem;
  background: transparent url('/statics/ffsm/xydd/images/20180404_b_order.png?version=07198918292277774') no-repeat top center;
  background-size: 100% 100%;
}

.common-pay-info {
  background-color: #fff;
  -webkit-border-radius: 0.26667rem;
          border-radius: 0.26667rem;
  margin: 0;
  border: 1px solid #e8e1d4;
  font-size: 0.8rem;
  color: #333;
}
.common-pay-info .item-name, .common-pay-info .item-base-price, .common-pay-info .item-discount {
  border-bottom: 1px solid #d3d3d3;
}
.common-pay-info .item-name {
  padding: 0.53333rem 0.8rem;
  font-weight: normal;
  font-size: 0.8rem;
}
.common-pay-info .item-base-price {
  padding: 0.4rem 0.8rem 0.53333rem;
}
.common-pay-info .item-base-price strong {
  font-size: 0.85333rem;
  line-height: 1.28rem;
  height: 1.28rem;
  display: inline-block;
  font-weight: normal;
}
.common-pay-info .item-base-price .time-price {
  background-color: #a70103;
  color: #fff;
  -webkit-border-radius: 0.21333rem;
          border-radius: 0.21333rem;
  padding: 0 0.26667rem;
}
.common-pay-info .item-base-price span {
  font-size: 0.74667rem;
}
.common-pay-info .price span {
  color: #666666;
  text-decoration: line-through;
}
.common-pay-info .dis-time span {
  color: #e1474a;
}
.common-pay-info .item-discount {
  padding: 0.48rem 0.8rem;
}
.common-pay-info .item-discount span {
  display: inline-block;
  vertical-align: middle;
}
.common-pay-info .item-discount .icon {
  padding: 4px 0.32rem;
  margin-right: 0.48rem;
  background-color: #cf2a3c;
  -webkit-border-radius: 0.16rem;
          border-radius: 0.16rem;
  color: #fff;
}
.common-pay-info .item-discount .right span {
  padding-top: 0.21333rem;
}
.common-pay-info .item-discount-price {
  padding: 0.48rem 0.8rem;
  text-align: right;
}
.common-pay-info .item-discount-price span {
  font-size: 0.74667rem;
  color: #666666;
  padding-right: 0.53333rem;
  display: inline-block;
}
.common-pay-info .item-discount-price strong {
  color: #d74040;
  font-size: 0.85333rem;
}
.common-pay-info .bor-none {
  border-bottom: none;
}
.common-pay-lists {
  background-color: #fff;
  -webkit-border-radius: 0.26667rem;
          border-radius: 0.26667rem;
  margin: 0.53333rem 0 0;
}
.common-pay-lists .hide {
  display: none;
}
.common-pay-lists .show {
  display: block;
}
.common-pay-lists .common-pay-title {
  height: 2.34667rem;
  line-height: 2.34667rem;
  text-align: center;
  font-size: 0.96rem;
  background-color: #b83c42;
  border-bottom: 2px solid #a91c27;
  color: #fff;
  -webkit-border-top-left-radius: 0.21333rem;
          border-top-left-radius: 0.21333rem;
  -webkit-border-top-right-radius: 0.21333rem;
          border-top-right-radius: 0.21333rem;
}
.common-pay-lists .common-item-box {
  border: 1px solid #fff;
  background: #fff;
  border-top: none;
  -webkit-border-radius: 0 0 0.21333rem 0.21333rem;
          border-radius: 0 0 0.21333rem 0.21333rem;
}
.common-pay-lists .border-style {
  border: 1px solid #fff;
  -webkit-border-radius: 0.21333rem;
          border-radius: 0.21333rem;
}
.common-pay-lists .common-pay-item li {
  height: 2.34667rem;
  line-height: 2.34667rem;
  border-bottom: 1px solid #bcbcbc;
  margin: 0 0.85333rem;
}
.common-pay-lists .common-pay-item li .pay-icon {
  display: inline-block;
  vertical-align: top;
  width: 2.66667rem;
  height: 1.38667rem;
}
.common-pay-lists .common-pay-item li .auto {
  font-size: 0.69333rem;
  color: #666;
}
.common-pay-lists .common-pay-item li .right {
  width: 1.38667rem;
  height: 1.38667rem;
}
.common-pay-lists .common-pay-item li .pay-radio {
  width: 0.53333rem;
  height: 0.53333rem;
  margin-top: 0.85333rem;
  border-top: 1px solid #666;
  border-right: 1px solid #666;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.common-pay-lists .common-pay-item li .pay-icon {
  display: inline-block;
  vertical-align: middle;
  width: 2.66667rem;
  height: 1.38667rem;
}
.common-pay-lists .common-pay-item li .leshi {
  background: transparent url('/statics/ffsm/xydd/images/alipay.png') center no-repeat;
  background-size: 1.22667rem 1.22667rem;
}
.common-pay-lists .common-pay-item li .alipay {
  background: transparent url('/statics/ffsm/xydd/images/alipay.png') center no-repeat;
  background-size: 1.22667rem 1.22667rem;
}
.common-pay-lists .common-pay-item li .wechat {
  background: transparent url('/statics/ffsm/xydd/images/wechat.png') center no-repeat;
  background-size: 1.22667rem 1.22667rem;
}
.common-pay-lists .common-pay-item li .union {
  background: transparent url('/statics/ffsm/xydd/images/union.png') center no-repeat;
  background-size: 1.22667rem 1.22667rem;
}
.common-pay-lists .common-pay-item li .paypal {
  background: transparent url('/statics/ffsm/xydd/images/paypal.png') center no-repeat;
  background-size: 1.22667rem 1.22667rem;
}
.common-pay-lists .common-pay-item li .bxm {
  background: transparent url('/statics/ffsm/xydd/images/checked.png') center no-repeat;
  background-size: 0.90667rem 0.90667rem;
}

.common-pay-lists .more-pay {
  text-align: center;
  font-size: 0.69333rem;
  color: #666;
  line-height: 2.02667rem;
}
.public_hot_test {border:1px solid #d3d3d3;background-color:#fff}
.public_ht_title {border-bottom:1px solid #d3d3d3;padding:10px;color:#000;font-weight:800;text-align:center;font-size:16px}
.public_ht_ul {position:relative;overflow:hidden;padding:15px 0 0 0;}
.public_ht_ul li {float:left;width:25%;margin-bottom:10px;}
.public_ht_ul li a {display:block;}
.public_ht_ul li img {display:block;width:70%;margin:0 auto;}
.public_ht_ul li p {line-height:24px;height:26px;font-size:15px;color:#ad6409;text-align:center;overflow:hidden;}
.public_footer {margin:20px 0 0;background-color:#dc8732;overflow:hidden;width:100%;padding:20px 0}
.public_footer_servers {overflow:hidden;width:100%;text-align:center;color:#ffffff;padding:20px 0;font-size:12px}
.public_footer_servers a {color:#ffffff}
.public_header {height:44px;line-height:44px;background:#fff;border-bottom:1px solid #e4e4e4;width:100%;position:relative}
.public_h_logo {position:absolute;left:10px;height:44px;top:0;display:block}
.public_h_logo img {height:100%;display:block}
.public_h_con {text-align:center;font-size:20px;color:#a83b00;margin:0 44px;font-weight:400;}
.public_h_home {position:absolute;width:44px;height:44px;top:0;left:0}
.public_h_menu {position:absolute;height:25px;line-height:25px;border:1px solid #db8732;border-radius:5px;padding:0 5px;display:block;color:#db8732;right:10px;top:9px;font-size:14px;}
.public_h_home:after {content:'';display:block;width:24px;height:24px;background-size:100% 100%;background-repeat:no-repeat;position:absolute;top:10px;left:10px;background-image:url("/statics/ffsm/public/images/icon_home.png")}